{% extends "tt_html/base.html" %}


{% block content %}
<div class="container-fluid" style="padding:15px;">
    <div class="row">
        <div class="col-5"></div>
        <div class="col-2 rounded text-center bg-info">
            <h3>Registration List</h3>
        </div>
        <div class="col-5"></div>
    </div>
</div>

<div class="container-fluid row">
    <div class="col-md-1">
        <a href="" class="btn btn-primary btn-block btn-lg">
            <i class="fas fa-arrow-left"></i> Back
        </a>
    </div>
    <div class="col-md-1">
        <a href="{% url 'registration_add' %}" class="btn btn-success btn-block btn-lg">
            <i class="fas fa-plus"></i> Add
        </a>
    </div>
</div>
<hr>
<div class="container-fluid">
    <table  id="registration_list" class="table table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Contact Number</th>
            <th>Edit</th>
            <th>Delete</th>
        </thead>
        <tbody>
        {% for reg_details in resgistration_list %}
        <tr>
            <td> {{reg_details.reg_name}}</td>
            <td> {{reg_details.reg_age}}</td>
            <td> {{reg_details.reg_mobile_no}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function() {
    $('#registration_list').DataTable();
} );
</script>

{% endblock content %}
